.container {
    width: 700px;
    padding-top: 60px;
}

.form-container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

label {
    color: white;
    text-transform: uppercase;
}

h1 {
    letter-spacing: -22px;
}

/* Input Styles */
input#id_item, 
input#id_price, 
input#id_image, 
input#id_name, 
select#id_artist,
textarea#id_description {
  border: 1px solid #ccc;
  border-radius: 40px;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  width: 500px;
}

textarea#id_description {
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    width: 500px;
    height: 50px;
}


input{
    color: gray;
}

input.btn {
    font-family: "Stretch Pro";
    font-size: 15px;
    color: white;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Button Styles */
.btn {
    border: 2px solid white; 
    background-color: transparent; 
    border-radius: 40px; 
    padding: 10px 20px; 
    text-transform: uppercase;
    font-weight: bold; 
    position: absolute;
}

input.btn:hover {
    color: gray;
}

.btn:hover {
    color: gray;
    border-radius: 40px; 
    padding: 10px 20px; 
    text-transform: uppercase;
    font-weight: bold; 
    position: absolute;
}

/* Confirm Delete Styles */
h2 {
    font-family: "Stretch Pro";
    color: white;
    font-size: 40px;
}

h4 {
    color: white;
    font-size: 40px;
}

a.btn {
    color: white;
}

#delete {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 280px) and (max-width: 900px) {
    h1 {
        font-size: 20px; 
        letter-spacing: 2.5px;
        padding: 20px;
    }

    input#id_item, 
    input#id_price, 
    input#id_image, 
    input#id_name, 
    select#id_artist,
    textarea#id_description {
      border: 1px solid #ccc;
      border-radius: 10px;
      padding: 5px;
      margin: 5px;
      font-size: 16px;
      width: 200px;
    }
    
    textarea#id_description {
        border: 1px solid #ccc;
        border-radius: 40px;
        padding: 10px;
        margin: 5px;
        font-size: 16px;
        width: 200px;
        height: 50px;
    }

    input.btn {
        color: white;
        font-size: 10px;
        position: absolute;
        bottom: 10;
        left: 30%;
        transform: translateX(-50%);
        padding: 10px
    }

    h3 {
        color: white;
        font-size: 10px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
}
}