{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tempo</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
</head>

<body>
    <video autoplay loop muted id="landingvideo">
        <source src="{% static 'backgrounds/tempo-speed.mp4' %}" type="video/mp4">
    </video>
    <h1>Tempo</h1>
    <button class="btn"><a href="{% url 'artist_api' %}">Browse</a></button>
</body>

</html>